.App {
  
}

body::after {
  content: "";
  background: url("./images/background-cake.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

img {
  height : 200px;
  width: 200px
}

input {
  width: 40px;
}


body, html {
  height: 100%;
  margin: 0
}
 
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: #48426d;
  color: rgb(223, 223, 223);
  
}

.nav-links {
  width : 20%;
  display : flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.home-container {
  text-align: center;
  margin-top: 100px;
}

.white-link {
  color : white;
}
/* Shop */
.cakes-container {
  text-align: center;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap:wrap;
  background-color: white;
}
/* CakeCard */

.cake-wrapper {
  margin: 10px;
  padding-top: 15px;
  height: 300px;
  width: 300px;
  background-color: #dbd8e6;
  border-radius: 15px
}