body, html , #root {
  height: 100%;
  margin: 0 
} 
img {
  height : 200px;
  width: 200px
}
input {
  width: 40px;
} 
h1 {
  margin: 0;

}

/* Home */
.home-container {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.home-container::after {
  content: "";
  background-image: url("./images/background-cake.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}
 

/* Header */ 
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: #48426d;
  color: rgb(223, 223, 223);
  
}

.nav-links {
  width : 20%;
  display : flex;
  justify-content: left;
  align-items: center;
  list-style: none;
  font-size: 24px;
  
}

.white-link {
  color : white;
  text-decoration: none;
  margin-right: 15px;
}

/*Cart*/

#cart-div {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}


#cart-icon {
  padding: 10px;
  border-radius: 25px;
  color: white;
}
#cart-icon:hover {
  background-color: white;
  color: #34314a;
 cursor: pointer;
}

.cart-info {
  margin: 10px;
  font-size: 24px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

#cart-count {
    font-size: 18px;
    background: #34314a;
    color: #fff;
    padding: 3 8px;
    vertical-align: top;
    margin-left: -10px; 
}

/* Shop */
.cakes-container {
  text-align: center;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap:wrap;
  background-color: white;
}

/* CakeCard */

.cake-wrapper {
  margin: 10px;
  padding-top: 15px;
  height: 300px;
  width: 300px;
  background-color: #dbd8e6;
  border-radius: 15px
}
/* checkout */
 .empty-cart {
   text-align: center;
   margin-top: 200px;
 }

/* Checkout Items */
.checkout-container {
  font-size: 18px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-container {
  display: grid;
  grid-template-columns : 150px repeat(5, 150px);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  margin-bottom: 15px;
}

.table-header {
  font-weight: bold;
}

.checkout-img {
  height: 100px;
  width: 100px;
}

.delete-btn {
  width: 25px;
  height: 25px;
  text-align: center;
}

.order-total {
  text-align: center;
  margin-left: 200px;
  font-size: 20px;
  font-weight: bold;

}